footer(data-aos="fade") 
        div.footContainer
            div.flex2#footHead
                h1 get in touch 
                a(href="../static/Resume1.pdf", target="_blank", rel="noopener noreferrer") #[button.resumeButton Download resume]
            div.formContainer 
                h2 Contact me
            form#form(action="#", method="post")  
                div.form.flex3
                    input.inputForm(type="text", name="name", placeholder="Your Name", required)  
                    input.inputForm(type="text", name="email", placeholder="Email", required)   
                    input.inputForm(type="text", name="subject", placeholder="Subject", required)
                textarea.message(name="message", cols="64", rows="5", placeholder="Message")
                button.submitButton(type="submit") Send Message 
            div.flex2.foot-bottom 
                div.buttons.flex 
                    div.foot-icons#icon-container 
                        a#icon-link(href="https://github.com/muditgupta68", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-github-alt] 
                    div.foot-icons#icon-container 
                        a#icon-link(href="https://www.instagram.com/_muditgupta/", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-instagram] 
                    div.foot-icons#icon-container 
                        a#icon-link(href="https://www.linkedin.com/in/mudit-gupta-303994192/", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-linkedin] 
                    div.foot-icons#icon-container 
                        a#icon-link(href="https://www.facebook.com/mudit.gupta.98892/", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-facebook]
                div.copyright 
                    h4 Copyright ©2021 All rights reserved | made with ❤ by Mudit Gupta