extends default.pug

block title
    title= title

block content 
        section#start
            div.cover.container
                div.bar
                    div.divisions 
                        i.fal.fa-map-marker-alt
                        div.rightInfo
                            h5 D-Block Vikas-Puri New Delhi 110018 
                    div.divisions#phone
                        i.fal.fa-phone
                        div.rightInfo
                            h5 +91-965238322  

                    div.divisions 
                        i.far.fa-comments-alt 
                        div.rightInfo
                            h5 muditgupta1086@gmail.com
                            h5 REPLY IN 24 HOURS
                a(href="../static/Resume1.pdf", target="_blank", rel="noopener noreferrer")  #[button.resumeDownload Download Resume] 

            div.coverIntro
                div.profile 
                    img.profilePic(src="../static/profile.PNG", alt="profile image: Mudit")
                div.introData
                    h2 Mudit Gupta
                    h3.design Software/Web Developer
                    div.data
                        h4 Born : #[span.entry October 06, 2000]
                        h4 EMAIL : #[span.entry muditgupta1086@gmail.com]
                    div.flex.containIcons
                        div.icons 
                            a.iconAnchor(href="https://www.linkedin.com/in/mudit-gupta-303994192/", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-linkedin] 
                        div.icons   
                            a.iconAnchor(href="https://github.com/muditgupta68", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-github-alt] 
                        div.icons 
                            a.iconAnchor(href="https://www.instagram.com/_muditgupta/", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-instagram] 
                        div.icons 
                            a.iconAnchor(href="https://www.facebook.com/mudit.gupta.98892/", target="_blank", rel="noopener noreferrer")  #[i.fab.fa-facebook] 
        //- section.fill
        section.about.flex(data-aos="fade-right")
            div.col1
                div.heading
                    h1 #[b About me]
                    h6.lightMini professional path 
            dov.col2
                div.content
                    p Hi! My name is Mudit Gupta, seeking interest in line of web development and software development focusing on crafting different useful softwares, web designing and coding since I started working with computers. I tried to explore to all the field of computer science and found python development and web development as my upper hand. 
                    br 
                    br 
                    //- p Now as a developer I wish to try for real world hand on projects and help our organizations to fulfill their requirements. I really can assure you to trust on me because I work on project as it is mine.  
                    div.graph
                        div.skill
                            svg(version="1.1")
                                linearGradient#linear(x1="0%" y1="0%" x2="100%" y2="100%")
                                    stop (offset="0%"   stop-color="red")
                                    stop (offset="100%" stop-color="red")
                                circle.stroke1.stroke(stroke-linecap="round"  cx="25" cy="65" r="60" stroke="url(#linear)" stroke-width="4" fill="none" stroke-dasharray="320" stroke-dashoffset="6" stroke-mitterlimit="0" transform="rotate(-90 ) translate(-100 0)")
                            div.skillData
                                div.skillData1(style="left: 21px;")
                                    h1 95% 
                                    h3 HTML5-CSS3
                        div.skill 
                            svg(version="1.1")
                                linearGradient#linear(x1="0%" y1="0%" x2="100%" y2="0%")
                                    stop (offset="0%"   stop-color="red")
                                    stop (offset="100%" stop-color="red")
                                circle.stroke1.stroke(stroke-linecap="round"  cx="25" cy="65" r="60" stroke="url(#linear)" stroke-width="4" fill="none" stroke-dasharray="320" stroke-dashoffset="25" stroke-mitterlimit="0" transform="rotate(-90 ) translate(-100 0)")
                                
                            div.skillData
                                div.skillData1
                                    h1 85% 
                                    h3 Javascript
                        div.skill 
                            svg(version="1.1")
                                linearGradient#linear(x1="0%" y1="0%" x2="100%" y2="0%")
                                    stop (offset="0%"   stop-color="red")
                                    stop (offset="100%" stop-color="red")
                                circle.stroke1.stroke(stroke-linecap="round"  cx="25" cy="65" r="60" stroke="url(#linear)" stroke-width="4" fill="none" stroke-dasharray="320" stroke-dashoffset="40" stroke-mitterlimit="0" transform="rotate(-90 ) translate(-100 0)")
                                
                            div.skillData
                                div.skillData1
                                    h1 80% 
                                    h3 MangoDB
                        div.skill 
                            svg(version="1.1")
                                linearGradient#linear(x1="0%" y1="0%" x2="100%" y2="0%")
                                    stop (offset="0%"   stop-color="red")
                                    stop (offset="100%" stop-color="red")
                                circle.stroke1.stroke(stroke-linecap="round"  cx="25" cy="65" r="60" stroke="url(#linear)" stroke-width="4" fill="none" stroke-dasharray="320" stroke-dashoffset="0" stroke-mitterlimit="0" transform="rotate(-90 ) translate(-100 0)")
                                
                            div.skillData
                                div.skillData1
                                    h1 97% 
                                    h3 Python Dev
                        div.skill 
                            svg(version="1.1")
                                linearGradient#linear(x1="0%" y1="0%" x2="100%" y2="0%")
                                    stop (offset="0%"   stop-color="red")
                                    stop (offset="100%" stop-color="red")
                                circle.stroke1.stroke(stroke-linecap="round"  cx="25" cy="65" r="60" stroke="url(#linear)" stroke-width="4" fill="none" stroke-dasharray="320" stroke-dashoffset="15" stroke-mitterlimit="0" transform="rotate(-90 ) translate(-100 0)")
                                
                            div.skillData
                                div.skillData1
                                    h1 90% 
                                    h3 Pug (SPA)
        section.more-about(data-aos="fade-up")
            div.education 
                h2 education
                div.single-education 
                    h3 Amity University Noida 
                    p B.tech Computer Science
                    p CGPA: 08.45 
                div.single-education 
                    h3 Maxfort School Dwarka 
                    p Matriculate (10th) & Senior Secondary (12th)  
                    p Percentage: 83%

        section.expertise 
            div.services(data-aos="fade-up")
                h1 my expertise   
                div.aboutExpertise.flex1
                    +expertise('SPA: Single page application')
                    +expertise('Responsive Designing')
                    +expertise('Front-End designing')

 
            div.services(data-aos="fade-up")
                h1 Projects  
                div.container.slideshow-container
                    +slide(1,6,'../static/projectImages/project1.png','Login-Page Design','https://login-page-design.glitch.me/home.html')
                    +slide(2,6,'../static/projectImages/project2.png','Covid-Tracker using Python','https://github.com/muditgupta68/Covi-Tracker-Detector')
                    +slide(3,6,'../static/projectImages/project3.png','Gossip Chat Application','https://gossip-chat-application.herokuapp.com/')
                    +slide(4,6,'../static/projectImages/project4.png','Bill-Splitter','https://tip-calculator-app.glitch.me')
                    +slide(5,6,'../static/projectImages/project5.png','Modern Card Design','https://moderncarddesign.glitch.me')
                    +slide(6,6,'../static/projectImages/project6.png','LoopStudios Landpage Design','https://loop-studio-landingpage.glitch.me')

                    a.prev(onclick="slideChange(-1)") &#10094
                    a.next(onclick="slideChange(1)") &#10095
