nav 
    div.hamburger.container
        i.fad.fa-bars.styleBars  
    div.container.ul
        ul
            li.lst #[a.navAnchor(href="/") Home ]
            li.lst #[a.navAnchor(href="/about") About ]
            li.lst #[a.navAnchor(href="/portfolio") Portfolio ]
            li.lst #[a.navAnchor(href="/contact") Contact ]